@charset "UTF-8";
/**
 * 
 * @authors Ptonmi
 * @date    2018-01-08 03:47:21
 */
*{
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

body{
  padding: 0;
  margin: 0;
}

.header{
  background-color: MediumSeaGreen;
  position: fixed;
  width:100%;
  top:0;
}

.navbar{
  list-style-type: none;
  overflow: hidden;
  padding:0;
  margin:0 14%;
}

.title_name{
  float: left;
}

.title_name a{
  display: inline-block;
  text-decoration: none;
  padding: 14px 16px;
  color: white;
}

li a:hover{
  background-color: #003300;
}

.main{
  padding: 10px;
  margin:60px auto auto;
  height:auto;
  width:70%;
  border: 1px solid #808080;
  border-radius: 20px;
  box-shadow: 2px 4px #888888;
  text-align: center;
}


h1{
  line-height: 0;
}

.self_portrait{
  margin-top: -20px;
  border: 2px solid #ddd;
  border-radius: 50%;
  width: 20%;  
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github{
  background: #23292E;
  color: white;
}

.fa-wechat{
  background: #2BAD38;
  color: white;
}

#portfolios{
  padding-top: 60px;
  padding-bottom: 60px;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.captures{
  width: 90%;
  border: 1px solid;
}

#contact{
  display: inline-block;
  padding-bottom: 70px;
}

.left{
  width: 50%;
  display: inline-block;
}

.map{
  width: 80%;
  height: 80%;
  float: left;
  margin-left: 5%;
}

.left > p{
  float: left;
  width: 70%;
  margin-left: 5%;
  text-align: left;
  padding: 0;
  margin-bottom: 0;
}

.right{
  width: 50%;
  float: right;
}

form{
  text-align: left;
  margin-top: -20px;
}

h2{
  margin-bottom: 5px;
}

.oneline{
  width: 80%;
  height: 25px;
}

textarea{
  width: 80%;
  height: 145px; 
}

button{
  width: 40%;
  height: 40px;
  float: right;
  margin-right:19%;
  margin-top: 20px;
  background-color: MediumSeaGreen;
  border: none;
  color: white;
  font-size: 16px;
}

.footer{
  padding-top: 50px;
  text-align: center;
}

hr{
  margin-bottom: 50px;
}

.footer>hr{
	margin: 0;
}